@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191765;
  background-image:
    url("./images/Ellipse18.png"),
    url("./images/Ellipse19.png"),
    url("./images/Ellipse20@3x.png"),
    url("./images/Ellipse21.png"),
    url("./images/Ellipse22.png"),
    url("./images/Ellipse23.png");
  background-repeat: no-repeat;
  background-size:
    120px 230px,
    60px 150px,
    200px,
    120px,
    240px 190px,
    140px 200px;
  background-position:
    left 0 top 50px,
    right 0 top 470px,
    left 0 top 1420px,
    right 0 top 2220px,
    left 0 top 3010px,
    right 0 top 3760px;
  width: 100vw;
  height: 100vh;
}

.header {
  height: max-content;
  display: flex;
  font-family: sans-serif;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.nav-links ul {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
}

.fa-bars {
  color: #fff;
  font-size: 20px;
}

.main {
  margin: 60px 24px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-intro {
  display: grid;
  place-items: center;
}

.main-intro h1 {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 72px;
  letter-spacing: 0.37px;
  color: #7d73fc;
  margin-bottom: 15px;
}

.main-intro h3 {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 44px;
  color: #edecff;
  margin-bottom: 40px;
}

.main-intro p {
  height: max-content;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  text-align: center;
  color: #c8c8d4;
}

.section-experience {
  margin-top: 50px;
  width: 100%;
  font-family: sans-serif;
  font-weight: 500;
  padding: 30px;
  border-top: 1px solid #646369;
  border-bottom: 1px solid #646369;
  display: grid;
  place-items: start;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.exp-card h4 {
  color: #7d73fc;
}

.exp-card ul {
  margin-top: 17px;
  list-style: none;
}

.exp-card ul li {
  margin-bottom: 15px;
  color: #f5f5ff;
}

.social-icons ul {
  width: 130px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-top: 20px;
  color: #fff;
}

.work {
  width: 70px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.arrow {
  color: #c4c4c4;
  padding: 2px;
  height: 21px;
}

.work h1 {
  color: #a2a3ae;
  font-size: 20px;
}

.work-section {
  font-family: sans-serif;
  font-weight: 500;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.head {
  border-bottom: 1px solid #646369;
}

.head h1 {
  width: 80%;
  font-size: 40px;
  line-height: 54px;
  color: #7d73fc;
  margin-bottom: 30px;
}

.box-1 {
  margin-top: 50px;
}

.box-1 img {
  width: 100%;
  margin-bottom: 40px;
}

.box-1 h1 {
  font-family: 'Roboto'sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-bottom: 40px;
}

.box-1 p {
  font-family: sans-serif;
  font-weight: 400;
  color: #dcdce8;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 40px;
}

.box-1 ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 40px;
}

.box-1 ul li:nth-child(1)
,
.box-1 ul li:nth-child(2)
,
.box-1 ul li:nth-child(3) {
  border-right: 1px solid #646369;
  padding: 10px 20px;
  font-family: sans-serif;
  font-weight: 500;
}

.box-1 ul li:nth-child(4) {
  padding: 10px 20px;
  font-family: sans-serif;
  font-weight: 500;
}

.box-1 button {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  background: #7d73fc;
  border-radius: 1px;
  padding: 12px 12px;
  border: 1px solid #7d73fc;
}
