@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191765;
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.nav-links {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
}

.fa-bars {
  color: #fff;
  font-size: 20px;
}

.main {
  width: 90%;
  margin: 50px auto;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-intro {
  width: 80%;
  display: grid;
  place-items: center;
}

.main-intro h1 {
  width: max-content;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
  letter-spacing: 0.37px;
  color: #7d73fc;
  margin-bottom: 30px;
}

.main-intro h3 {
  width: max-content;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #edecff;
  margin-bottom: 30px;
}

.main-intro p {
  width: 90%;
  height: max-content;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  text-align: center;
  color: #c8c8d4;
}

.section-experience {
  margin-top: 50px;
  width: 100%;
  padding: 30px;
  border-top: 1px solid #646369;
  border-bottom: 1px solid #646369;
  display: grid;
  place-items: start;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.exp-card h4 {
  color: #7d73fc;
}

.exp-card ul {
  margin-top: 10px;
  list-style: none;
}

.exp-card ul li {
  margin-bottom: 5px;
  color: #f5f5ff;
}

.social-icons ul {
  width: 130px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-top: 20px;
  color: #fff;
}

.work {
  width: 70px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.arrow {
  color: #c4c4c4;
  padding: 2px;
  height: 21px;
}

.work h1 {
  color: #a2a3ae;
  font-size: 20px;
}
